/**home**/
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #99CFBA;
}
.estrella-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}
.estrella{
    display: block;
    width:auto;
    height:100vh;
}

@font-face {
    font-family: "Kuillo";
    src: url("fuentes/KuilloChunk.OTF") format("truetype");
}
.secciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
}
.secciones>a{
    font-size: 40px;
    font-family: "kuillo";
    color: #CD6C97;
    transition: 0.5s;
    text-decoration: none;
}
.secciones>a:hover{
    font-size: 40px;
    font-family: "kuillo";
    color: #F8EBA4;
}
/**galeria**/
.menicon{
    max-width: 10%;
    min-width: 3%;

}
.gallery{
    background-color: #F8EBA4;
}
.targeta{
margin-top: 23%
}
.video{
    border-radius: 3%;
    max-width: 100%;
    min-width: 30%;
}
.calendario{
    width: 900px;
    height: 705px;
}
.fotos{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 0%;
    margin-bottom:10%;}
.pc{

}
    /**MENU**/
    .menu{
    background-color: #CD6C97;
    }

    @font-face {
        font-family:helvetica light;
        src: url(/fuentes/HelveticaNeueLight.otf)
    }
    .paginas{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .paginas>a{
        font-family: "helvetica light";
        color: #F8EBA4;
        font-size:100px ;
        gap: 5px;
        transition: 0.5s;
        margin: 0;
        text-decoration: none;
    }
    .paginas>a:hover {
        color: #99CFBA;
    }
    @media screen and (max-width: 480px) {
    .paginas{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .paginas>a{
        font-size:70px ;
    }
    .paginas>a:hover{
        color: #99CFBA;
    }
    } 
    /**error en el media**/
   /**about**/
   .about{
    background-color: #8FA7E9;
   }
   .titulo2{
    right: 9%;
    margin-top:-20%;
   }
   .intro{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10%;
   }
    @font-face {
        font-family:"helvetica regular";
        src: url(/fuentes/HelveticaNeueLight.otf)
    }
        @font-face {
        font-family:"helvetica light";
        src: url(/fuentes/HelveticaNeueUltraLight.otf)
    }
   h1, h3, h4, h5{
    font-size: 43px;
    font-family:"helvetica regular";
   }
   .carpeta{
    margin-left: 15%;
    margin-right: 15%;
   }
.textos{
    margin-left: 10%;
    margin-right: 10%;

   }
   h3{
    margin-left: 20%;
    font-family: "helvetica light";
    color: black;
   }
   h5{
    margin-top: -3%;
   }
      /**ID**/
  .id{
    background-color: #B687BB;
   }
   .titulo2{
    right: 9%;
    margin-top:-10%;
   }
   .intro{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10%;
   }
    @font-face {
        font-family:"helvetica regular";
        src: url(/fuentes/HelveticaNeueLight.otf)
    }
        @font-face {
        font-family:"helvetica light";
        src: url(/fuentes/HelveticaNeueUltraLight.otf)
    }
   h1, h3, h4, h5{
    font-size: 43px;
    font-family:"helvetica regular";
   }
   .carpeta{
    margin-left: 15%;
    margin-right: 15%;
   }
.textos{
    margin-left: 10%;
    margin-right: 10%;

   }
   h3{
    margin-left: 20%;
    font-family: "helvetica light";
    color: black;
   }
   h5{
    margin-top: -3%;
}