/**home**/
body{
    background-color: #99CFBA;
}
.estrella-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    z-index: 1;
    position: relative;
    display: flex;
    margin-top: 20%;
    flex-wrap: wrap;
    margin-left: 15%;
}
.estrella{
    z-index: 0;
    display: flex;
    position: absolute;
    left: 23%;
    bottom: 1px;
}
.estrella-titulo :last-child{
    width: 830px;
    height: 830px;
}
.estrella-titulo :first-child{
    width: 1000px;
    height: auto;
}
@font-face {
    font-family: "Kuillo";
    src: url("fuentes/KuilloChunk.OTF") format("truetype");
}
.secciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 40px;
    top: 20%;
}
p{
    font-size: 40px;
    font-family: "kuillo";
    color: #CD6C97;
    transition: 0.5s;
}
a{
    text-decoration: none;
}
p:hover{
    font-size: 40px;
    font-family: "kuillo";
    color: #F8EBA4;
}
/**galeria**/
.menicon{
    max-width: 10%;
    min-width: 3%;

}
.gallery{
    background-color: #F8EBA4;
}
.targeta{
margin-top: 23%
}
.video{
    border-radius: 3%;
    max-width: 100%;
    min-width: 30%;
}
.calendario{
    width: 900px;
    height: 705px;
}
.fotos{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 30px;
    margin-top: 10%;
    margin-bottom:10%;}
    /**MENU**/
    .menu{
    background-color: #CD6C97;
    }
    @font-face {
        font-family:helvetica light;
        src: url(/fuentes/HelveticaNeueThin.otf)
    }
    .paginas{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    h2{
        font-family: "helvetica light";
        color: #F8EBA4;
        font-size:100px ;
        gap: 5px;
        transition: 0.5s;
        margin: 0;
    }
    h2:hover{
        color: #99CFBA;
    }
    @media screen(480px) {
    .paginas{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    h2{
        font-family: "helvetica light";
        color: #F8EBA4;
        font-size:70px ;
        gap: 5px;
        transition: 0.5s;
        margin: 0;
    }
    h2:hover{
        color: #99CFBA;
    }
    } 
    /**error en el media**/
   /**about**/
   .about{
    background-color: #8FA7E9;
   }
   .titulo2{
    right: 9%;
    margin-top:-20%;
   }
   .intro{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10%;
   }
    @font-face {
        font-family:"helvetica regular";
        src: url(/fuentes/HelveticaNeueLight.otf)
    }
        @font-face {
        font-family:"helvetica light";
        src: url(/fuentes/HelveticaNeueUltraLight.otf)
    }
   h1, h3, h4, h5{
    font-size: 43px;
    font-family:"helvetica regular";
   }
   .carpeta{
    margin-left: 15%;
    margin-right: 15%;
   }
.textos{
    margin-left: 10%;
    margin-right: 10%;

   }
   h3{
    margin-left: 20%;
    font-family: "helvetica light";
    color: black;
   }
   h5{
    margin-top: -3%;
   }
      /**ID**/
  .id{
    background-color: #B687BB;
   }
   .titulo2{
    right: 9%;
    margin-top:-20%;
   }
   .intro{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10%;
   }
    @font-face {
        font-family:"helvetica regular";
        src: url(/fuentes/HelveticaNeueLight.otf)
    }
        @font-face {
        font-family:"helvetica light";
        src: url(/fuentes/HelveticaNeueUltraLight.otf)
    }
   h1, h3, h4, h5{
    font-size: 43px;
    font-family:"helvetica regular";
   }
   .carpeta{
    margin-left: 15%;
    margin-right: 15%;
   }
.textos{
    margin-left: 10%;
    margin-right: 10%;

   }
   h3{
    margin-left: 20%;
    font-family: "helvetica light";
    color: black;
   }
   h5{
    margin-top: -3%;